@use "src/styles/vars";

.exhibitionManager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allExhibitions {
  width: 90%;
  max-height: 100%;

  .artwork-box {
    font-size: 0.85em;
  }

  .exhibitionTitle {
    font-size: 3em;
  }

  .artwork-image {
    pointer-events: none;
  }

  .img-container{
    position: relative;
  }

  .img-container .iconZoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../../assets/zoom-in.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: azure;
    pointer-events: none;
  }

  .img-container:hover .artwork-image:hover + .iconZoom {
    opacity: 1;
  }
  
  .img-container .artwork-image:hover {
    opacity: 0.5;
  }

  .selectExhibition {
    height: 2em;

    button {
      background-color: vars.$eggshell;
      border: none;
      color: vars.$ochre;
      font-weight: bold;

      &:hover,
      &:active {
        background-color: vars.$ochre7;
        color: vars.$eggshell;
      }
    }

    .dropdown-menu {
      border: 1px solid vars.$ochre;
      background-color: vars.$eggshell;

      button.dropdown-item {
        border: none;
        background-color: vars.$eggshell;

        &:hover,
        &:active {
          background-color: vars.$ochre7 !important;
          border-color: vars.$ochre !important;
          color: vars.$eggshell !important;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .artwork-image {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .artworks-zone {
    justify-content: center;
    gap: 1em;
  }

  .artwork-box {
    width: 80vw;
    height: auto;
    font-size: 0.7em;
  }

  .artwork-image {
    width: 20em;
    height: 20em;
    object-fit: cover;
    pointer-events: all !important;
    cursor: pointer;
  }

  .cardContainer {
    min-height: 100%;
  }
}

@media (min-width: 1440px) {
  .artwork-box {
    width: 40vw;
    height: auto;
    font-size: 0.7em;
  }

  .exhibitionDescription {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
}
