@use 'src/styles/vars';

.sectionCarousel {
  height: calc(100vh - 8vh);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.carousel-indicators {
  margin-bottom: 0;

  button {
    background-color: vars.$ochre !important;
  }
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-title {
  font-weight: bold;
  font-variant-caps: all-small-caps;
  font-size: 3em;
  line-height: 0.8;
  margin-bottom: 0.2em;
  text-align: center;
}

.carousel-artist {
  text-align: center;
  font-size: 1.4em;
}

.carousel-image {
  height: 78%;
  width: 98%;
  position: relative;
  left: 1%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-description {
  display: none;
  font-size: 0.8em;
  z-index: 200;
  position: relative;
  width: 98%;
  left: 1%;
  padding: 0.2em;
  text-align: center;

  & p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .sectionCarousel {
    height: calc(100vh - 16vh);
  }

  .carousel-description {
    display: block;
  }

  .carousel-image {
    height: 68%;
  }

  .carousel-indicators {
    bottom: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-image {
    height: 72%;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-indicators {
    bottom: 0.2em;
  }

  .carousel-image {
    height: 76%;
  }
}

@media screen and (min-width: 2560px) {
  .carousel-image {
    height: 88%;
  }
}
