@use 'src/styles/vars';

.sectionCarousel {
  height: calc(100vh - 16vh);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.carousel-indicators {
  margin-bottom: 2rem;
  top: 7em;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-title {
  font-weight: bold;
  font-variant-caps: all-small-caps;
  font-size: 3em;
  line-height: 0.8;
  margin-bottom: 0.2em;
  text-align: center;
}

.carousel-artist {
  text-align: center;
  margin-bottom: 2em;
}

.carousel-image {
  height: 84%;
  width: 98%;
  position: relative;
  left: 1%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  // display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  bottom: 0.5em;
  text-align: center;
  border: 1px solid vars.$eggshell;
  border-radius: 10px;
  right: 2em;
  left: 2em;
  bottom: 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  & p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  .sectionCarousel {
    height: 100%;
    width: 100%;
  }

  .carousel {
    width: 100%;
    padding-bottom: 0;
  }

  .carousel-indicators {
    margin-bottom: 0;
    top: unset;
    bottom: 1em;
  }
}
