@use "src/styles/vars";

.myfavoritesSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .myfavoritesContainer {
    width: 90%;

    label {
      color: vars.$ochre;
    }

    #favorites-select {
      border-color: vars.$ochre7;
      background-color: vars.$eggshell;
      color: vars.$ochre;
      border-radius: 5px;

      option {
        background-color: vars.$eggshell;
        color: vars.$ochre;
      }
    }

    .fade-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;
      padding-top: 1em;
      padding-bottom: 1em;

      .image-card {
        align-items: center;
        display: block;
        margin: 0;
        height: auto;
        width: fit-content;
        position: relative;

        .image-title {
          text-align: center;
          width: 40vw;
        }

        .image-fav {
          border-radius: 5px;
          width: 40vw;
          height: 40vw;
          object-fit: cover;
          pointer-events: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .fade-images {
    .image-card {
      .image-title {
        width: 20vw!important;
      }
      .image-fav {
        width: 20vw!important;
        height: 20vw!important;
      }
    }
  }
}
