@use 'reset';
@use 'vars';
@import url(https://fonts.bunny.net/css?family=albert-sans:300|averia-libre:300);
@import '~bootstrap/scss/bootstrap';
@import url(https://fonts.bunny.net/css?family=albert-sans:300%7Caveria-libre:300);

body {
  font-family: 'Albert Sans', sans-serif;
  color: #211f18;
  margin-bottom: 0;
  background-color: vars.$eggshell;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Averia Libre', display;
  color: vars.$ochre;
}

.customButton {
  background-color: vars.$eggshell;
  border-color: vars.$ochre;
  color: vars.$ochre;
  font-weight: bold;

  &:hover,
  &:active {
    background-color: vars.$ochre;
    border-color: vars.$ochre;
    color: vars.$eggshell;
  }
}

.form-control:focus {
  border-color: vars.$ochre;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(204, 146, 13, 0.5);
}
