h1 {
  color: goldenrod; 
  font-weight: bold;
  font-size:2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: rgb(70, 63, 45); 
  font-size: 1rem;
}

.image-cover {
  object-fit: cover;
}

@media screen and  (orientation: portrait){
  img {
  height: 55vh;
}
}

@media screen and  (min-width: 768px) and (max-width:1199px){
  img {
    height: 65vh;
  }
}

@media screen and  (min-width: 1200px){
  img {
  height: 75vh;
}
}
