@use 'src/styles/vars';

.navbar {
  background-color: vars.$eggshell;
  color: vars.$dark;
}

.imageLogo {
  width: 3em;
  height: auto;
}

@media screen and (min-width: 769px) {
  .navbar {
    height: 8vh;
  }
}
