@use 'src/styles/vars';

.footerElement{
  height: 8vh;
  width: 100vw;
  background-color: vars.$eggshell;
  color: vars.$dark;

  .footer-socials {
    width: 100%;
    height: 100%;

    .links li a{
      text-decoration: none;
    }
  }
}


