/***********
MODAL ARTIST
***********/
.modal-body {
  gap: 1rem;
}
.artist-modal {
  padding: 1rem;
  justify-items: center;
  
  .nickname {
    color: goldenrod;
    font-family: 'Averia Libre', display;
    font-size: 2rem;
    font-weight: bold;
  }

    .avatar{
    display: flex;
    border: goldenrod 1px solid;
    border-radius: 10px;
    width: 80%;
    }

    .realname {
      font-size: 0.85rem;
      margin-bottom: 0.4rem;
    }

    .presentation {
      font-size: 0.8rem;
      padding: 1rem;
      text-align: justify;
    }  
}

/************
MEDIA QUERIES
************/

@media screen and  (min-width: 768px){
  .card-artist {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }
 /*  .avatar {
    width: 60%;
  } */

  .nickname {
    font-size: 1.5rem;
  }

  .body-artist {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px){
  .body-artist>.presentation{
    font-size: 1.1rem;
  }

  .artist-modal .avatar {
    width: 60%;
}

  .artist-modal .presentation {
    font-size: 1.1rem;
  }
}


