@use 'src/styles/vars';

.all-exhibitions {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-title{
  font-weight: bold;
  text-align: center;
}

.exhibition-container {
  gap: 0.5rem;
}
.card-info {
  border:none;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(33, 31, 24, 0.3);
  // height: 70vh;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 95vw;

    .image-info {
      object-fit: cover;
      overflow: hidden;
      height: 65%;
      margin-bottom: 0.4rem;
    }

    .title-info {
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
    }
    .nickname-info {
      color: vars.$dark;
      margin-bottom: 0.3rem;
    }
}
    
.exhibition-info {
  border-top: vars.$dark-light solid 1px;
  padding-top: 0.3rem;
  
}
.description-info {
  color: vars.$dark;
  font-size: 0.85rem;
}

@media screen and (min-width:768px){
  .all-exhibitions {
    overflow: scroll;
  }
  .card-info {
    // height: 70vh;
    margin-bottom: 1rem;
    width: 45vw;
  }
}


@media screen and (min-width:1024px){
  .page-title {
    font-size: 3.2rem;
  }
  .card-info {
    height: 74vh;
    margin-bottom: 1rem;
    width: 30vw;
    transition: all 1.5s, ease-in-out;
      &:hover {
        transform: scale(0.95);
      }
  }
  .exhibition-info {
    height: 35%;
    overflow: auto;
  }
}
