.userInformations{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2023/04/20/06/31/sofa-7939061_960_720.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.userBoxTitle, .userBox{
  width: 50%;
}

@media (max-width: 1023px) {
  .userBox, .userBoxTitle{
    width: 70%;
  }
}

@media (max-width: 767px) {
  .userBox, .userBoxTitle{
    width: 95%;
  }
}
