.userInformations {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userBoxTitle,
  .userBox {
    width: 95%;
  }

  .userBox {
    font-size: 0.9em;

    .img-avatar {
      width: 40vw;
    }
  }
}

@media (min-width: 768px) {
  .userInformations {
    .userBoxTitle,
    .userBox {
      width: 70%;
    }

    .userBox {
      .img-avatar {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .userInformations {
    .userBoxTitle,
    .userBox {
      width: 50%;
    }
  }
}
