.userInformations{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userBoxTitle, .userBox{
  width: 95%;
}

.img-avatar{
  width: 40vw;
}

@media (min-width: 768px) {
  .userBoxTitle, .userBox{
    width: 70%;
  }

  .userBox{
    font-size: 0.8em; 
  }

  .img-avatar{
    width: 100%;
    height: auto;
  }
}
