@use 'src/styles/vars';

/***********
MODAL ARTIST
***********/

.artist-modal {
  padding: 1rem;
  justify-items: center;

  .nickname {
    font-size: 2rem;
    font-weight: bold;
  }

  .avatar {
    display: flex;
    border: vars.$ochre 1px solid;
    border-radius: 10px;
    width: 80%;
  }

  .realname {
    font-size: 0.85rem;
    margin-bottom: 0.4rem;
  }

  .presentation {
    font-size: 0.8rem;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 0;
  }

  .modal-content{
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .card-artist {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }

  .nickname {
    font-size: 1.5rem;
  }

  .body-artist {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .body-artist>.presentation {
    font-size: 1.1rem;
  }

  .artist-modal .avatar {
    width: 60%;
  }

  .artist-modal .presentation {
    font-size: 1.1rem;
  }
}
