.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0;
}

.card-text {
  text-align: justify;
}

/********** 
INFO ARTIST
***********/

.card-artist {
  border: fuchsia 1px solid;
  display: flex;
  padding: 1rem;

    .avatar{
    display: flex;
    border: goldenrod 1px solid;
    border-radius: 5px;
    }

    .body-artist {
      display: flex;
      flex-direction: column;
    }
    
    .nickname {
      color: goldenrod;
      font-family: 'Averia Libre', display;
      font-size: 2rem;
      font-weight: bold;
    }
  }



/************** 
INFO EXHIBITION
***************/
.card-exhibition {
  align-items: center;

    .body-exhibtion {
      // background-color: beige;
      margin-bottom: 1rem;
      width: 95%;
    
        .title {
          color: goldenrod;
          font-family: 'Averia Libre', display;
          font-variant-caps: all-small-caps;
          font-weight: bold;
          font-size: 3.5rem;
          line-height: 2rem;
          margin-bottom: 1rem;
          text-align: center;
        }

        .nickname {
          text-align: center;
        }

        .description {
          color: rgb(29, 26, 16);
          border: goldenrod ridge 4px;
          border-radius: 5px;
          font-size: 1rem;
          padding: 1rem;
        }
   }
}

/* 
PICTURES EXHIBITION
*/

.col-picture {
  padding: 0;
}

.display-exhibition {
  width: 90%;
  flex-wrap: wrap;
}

.card-picture {
  align-items: center;
  // background-color: aqua;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.image-picture {
  height: auto;
  border-radius: 0;
  
}

.title-picture {
  color: goldenrod;
  font-weight: bold;
  text-align: center;
}

@media screen and  (max-width: 576px){
  .title-picture {
  font-size: 1rem;
  }
.description-picture{
  font-size: 0.8rem;
  }
.card-picture {
  padding: 0.5rem;
}
.card-body {
  padding: 0.5rem;
}
/* .col-picture{
  margin-bottom:0.5rem;
} */

}

@media screen and  (min-width: 576px){
  .card-artist {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }
  .avatar {
    width: 50%;
  }

  .nickname {
    font-size: 1.5rem;
  }

  .body-artist {
    justify-content: center;
  }
}


@media screen and  (min-width: 1200px){
  .card-artist {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    width: 60%;
  }
}

