.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;

    .card {
      background-color: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 0;
    }
}

.card-text {
  text-align: justify;
}

/************** 
INFO EXHIBITION
***************/
.card-exhibition {
  align-items: center;

    .body-exhibtion {
      margin-bottom: 1rem;
      width: 95%;
    
        .title {
          font-variant-caps: all-small-caps;
          font-weight: bold;
          font-size: 3.5rem;
          line-height: 2rem;
          margin-bottom: 1rem;
          margin-top: 1rem;
          text-align: center;
        }

        .nickname {
          font-size: 1.6rem;
          padding: 0.6rem;
          text-align: center;
        }

        .description {
          font-size: 0.93rem;
          padding: 1rem;
        }
   }
}

/* 
PICTURES EXHIBITION
*/

.picture-list{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  padding: 1rem;
}

.card-picture {
  align-items: center;
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  height: 80vh;
  width: 100%;
}

.image-picture {
  border-radius: 5px;
  height: 75%;
  object-fit: cover;
}

.title-picture {
  font-weight: bold;
  text-align: center;
}

.description-picture {
  font-size: 0.9rem;
  padding-left: 2em;
  padding-right: 2em;
}


/************
MEDIA QUERIES
************/

@media screen and  (max-width: 768px){
  .title-picture {
  font-size: 1.2rem;
  }

  .description-picture{
    font-size: 0.93rem;
  }

  .card-body {
    padding: 0.5rem;
  }

}

@media screen and  (min-width: 1024px){
  .card-picture {
    padding: 0.5rem;
    width: 50%;
  }
}

@media screen and  (min-width: 1440px){
  .card-picture {
    padding: 0.5rem;
    width: 33.3333333%;
  }
}
