@use "src/styles/vars";

.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0;
  }
}

.card-text {
  text-align: justify;
}

/************** 
INFO EXHIBITION
***************/
.card-exhibition {
  align-items: center;

  .body-exhibition {
    margin-bottom: 1rem;
    width: 95%;

    .title {
      font-variant-caps: all-small-caps;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-align: center;
    }

    .nickname.card-text {
      color: vars.$ochre;
      font-size: 1.2rem;
      padding: 0.6rem;
      text-align: center;
    }

    .description {
      font-size: 0.93rem;
      padding: 1rem;
    }
  }
}

/****************** 
PICTURES EXHIBITION
******************/

.picture-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  padding: 1rem;
}

.card-picture {
  align-items: center;
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
  position: relative;
}

.image-picture {
  border-radius: 5px;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

.title-picture {
  font-weight: bold;
  text-align: center;
}

.description-picture {
  font-size: 0.9rem;
  padding-left: 2em;
  padding-right: 2em;
}

/*
Like icon
*/
.heart-icon {
  .bi-heart {
    height: 2.8em;
    width: 2.8em;
    color: white;
    padding: 0.4em;
    border-radius: 16px;
  }

  .bi-heart-fill {
    height: 2.5em;
    width: 2.5em;
    color: red;
    padding: 0.4em;
  }

  svg {
    position: absolute;
    top: 1em;
    right: 1em;
    transition: all 1s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

/*---------------------------MEDIA QUERIES-----------------------------*/

@media screen and (max-width: 768px) {
  .title-picture {
    font-size: 1.2rem;
  }

  .description-picture {
    font-size: 0.93rem;
  }

  .card-body {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .picture-list {
    flex-direction: unset;
    flex-wrap: wrap;
  }

  .card-picture {
    padding: 0.5rem;
    width: 50%;
    height: 100vh;
  }

  .image-picture {
    height: 70%;
    pointer-events: all;
  }

  .description-picture {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1440px) {
  .body-exhibition {
    padding-left: 15em;
    padding-right: 15em;
  }

  .card-picture {
    padding: 0.5rem;
    width: calc(100% / 3);
  }

  .description-picture {
    font-size: 0.8rem;
  }
}
